<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.driver"
    android:versionCode="1"
    android:versionName="1.0" >
    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
     
     <uses-permission android:name="android.permission.CAMERA" />
     <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>


    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Mob短信验证需要的权限 -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="易录通"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="6d4246f56840ac7630ac3f2c3de51c81" />
        <!--声明定位service-->
        <service android:name="com.amap.api.location.APSService"></service>
        <activity
            android:name="com.example.driver.LoginActivity"
            android:label="易录通"
            android:theme="@style/LabelTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"  >
            <intent-filter>  
            <action android:name="android.intent.action.MAIN" />  
            <category android:name="android.intent.category.LAUNCHER" />  
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.driver.MainActivity"
            android:theme="@style/LabelTheme"
            android:label="做最贴心的停车引导者">
        </activity>
        <activity
            android:name="com.example.driver.ParkingInformationActivity"
            android:theme="@style/LabelTheme"
            android:label="停车信息">
        </activity>
        <activity
            android:name="com.example.driver.PaymentActivity"
            android:theme="@style/LabelTheme"
            android:label="收费确认">
        </activity>
        <activity
            android:name="com.example.driver.PaymentSuccessActivity"
            android:theme="@style/LabelTheme"
            android:label="支付成功">
        </activity>
        <activity
            android:name="com.example.driver.MessageCenterActivity"
            android:theme="@style/LabelTheme"
            android:label="消息中心">
        </activity>
        <activity
            android:name="com.example.driver.FeedbackActivity"
            android:theme="@style/LabelTheme"
            android:label="意见反馈"
            android:windowSoftInputMode="adjustPan|stateHidden"  >
        </activity>
         <activity
            android:name="com.example.driver.ParkingRecordActivity"
            android:theme="@style/LabelTheme"
            android:label="停车记录">
        </activity>
         <activity
            android:name="com.example.driver.InputLicenseActivity"
            android:theme="@style/LabelTheme"
            android:label="绑定牌照">
        </activity>
         <activity
            android:name="com.example.driver.LicensePlateManagementActivity"
            android:theme="@style/LabelTheme"
            android:label="车辆管理">
        </activity>
         <activity
            android:name="com.example.driver.RechargeActivity"
            android:theme="@style/LabelTheme"
            android:label="充值">
        </activity>
         <activity
            android:name="com.example.driver.ParkingCouponActivity"
            android:theme="@style/LabelTheme"
            android:label="优惠券">
        </activity>
         <activity
            android:name="com.example.driver.UserInformationActivity"
            android:theme="@style/LabelTheme"
            android:label="用户信息">
        </activity>
         <activity
            android:name="com.example.driver.ResetPasswdActivity"
            android:theme="@style/LabelTheme"
            android:label="重置密码">
        </activity>
         <activity
            android:name="com.example.driver.SetNickNameActivity"
            android:theme="@style/LabelTheme"
            android:label="设置昵称">
        </activity>
         <activity
            android:name="com.example.driver.HeadPortraitActivity"
            android:theme="@style/LabelTheme"
            android:label="设置头像">
        </activity>
    </application>

</manifest>